@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins;
  overflow-x: hidden;
}
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
a::selection {
  background-color: black;
  color: white;
}
p, li {
  font-size: small;
  font-weight: 500;
}

.neo {
  border: 1px solid black;
  box-shadow: 0.25rem 0.25rem 0px 0px rgba(0, 0, 0, 1);
  transition: transform 150ms, box-shadow 150ms;
}
.neo-default {
  border: 1px solid black;
  box-shadow: 0.25rem 0.25rem 0px 0px rgba(0, 0, 0, 1);
  transition: transform 150ms, box-shadow 150ms;
}
.neo:hover {
  transform: translate(0.25rem, 0.25rem);
  box-shadow: 0rem 0rem 0px 0px rgba(0, 0, 0, 1);
}

.nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  top: 0;
  left: 0; 
  z-index: 40;
  background-color: white;
}

.nav {
  padding: 14px 120px;
}

.hero {
  padding: 0 120px;
}

.button-col {
  display: flex;
  justify-content: center;
}

.hero a {
  padding: 0.5rem 0.75rem;
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 24px;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 2px dashed black;
}

.hero img {
  width: 20vw;
}

.image-card {
  display: flex;
  flex-direction: column;
}

.image-capt {
  padding: 10px 20px;
  background: #fff;
}

.hero-child {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 40px;
}

.hero-capt {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.hero-capt p{
  font-size: medium;
}

.hero-capt p span {
  background-color: black;
  color: white;
  padding: 0 5px;
}

a {
  color: black;
  text-decoration: none;
}
.button-col {
  margin-top: 20px;
  display: flex;
}

.history {
  padding: 40px 120px 0 ;
  border-bottom: 2px solid black ;
}

.history-capt {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.history-capt .neo-default {
  padding: 20px;
  grid-row: span 2 / span 2;
}

.acchivment {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 40px 120px;
}
.acchivment .ach-ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.ach-cntnt {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

html {
  scroll-behavior: smooth;
}

.neo-cntnt {
  padding: 10px 20px;
}

.ach-card {
  background: #fff;
}

hr {
  border-top: 1px solid black;
}

.ach-dcr {
  position: absolute;
  top: 0%;
  right: 30%;
  z-index: -10;
  height: 100vh;
  border-left: 2px dashed black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color :#fff;
}

.name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.links-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 20px;
}

.toggle {
  display: none;
}

.copyright-section {
  font-size: 14px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
}

.copyright-section a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

.bar {
  background: #000;
  padding: 2px;
  border-radius: 20px;
}

#nav-toggle {
  display: none;
}

.back {
  position: fixed;
  background-color: white;
  z-index: 50;
  bottom: 40px;
  right: 40px;
  width: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 20px;
}


@media only screen and (max-width: 1300px) {
  .ach-cntnt {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  } 
  .history-capt {
    margin-top: 20px;
    display: grid;
    padding-bottom: 40px;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
  .history-capt .neo-default{
    grid-row: span 1 / 1;
  }
  .hero { 
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0 40px 0;
  }
  .hero-child {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: fit-content;
    text-align: center;
    padding: 0;
    border-right: 0;
    flex-direction: column;
  }
  .button-col {
    display: flex;
    justify-content: center;
  }
  .hero-capt {
    padding: 0 20px;
  }
  .nav {
    padding: 14px 20px;
  }
  .nav-ul {
    display: flex;
    justify-content: start;
    top: 0;
    transition: 500ms;
    padding: 40px;
    right: -100%;
    flex-direction: column;
    background: #fff;
    border-left: 2px solid black;
    width: 50vw;
    height: 100vh;
    position: fixed;
  }
  #nav-toggle:checked ~ .nav-ul {
    right: 0%;
  }
  .acchivment, .history {
    padding: 40px 40px;
  }
  .toggle {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 27px;
    gap: 3px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 850px) {
  .ach-cntnt {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  } 
  .history-capt {
    margin-top: 20px;
    display: grid;
    padding-bottom: 40px;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
  .history-capt .neo-default{
    grid-row: span 1 / 1;
  }
  .hero { 
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0 40px 0;
  }
  .hero-child {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: fit-content;
    text-align: center;
    padding: 0;
    border-right: 0;
    flex-direction: column;
  }
  .button-col {
    display: flex;
    justify-content: center;
  }
  .hero-capt {
    padding: 0 20px;
  }
  .nav {
    padding: 14px 20px;
  }
  .nav-ul {
    display: flex;
    justify-content: start;
    top: 0;
    transition: 500ms;
    padding: 40px;
    right: -100%;
    flex-direction: column;
    background: #fff;
    border-left: 2px solid black;
    width: 50vw;
    height: 100vh;
    position: fixed;
  }
  #nav-toggle:checked ~ .nav-ul {
    right: 0%;
  }
  .acchivment, .history {
    padding: 40px 40px;
  }
  .toggle {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 27px;
    gap: 3px;
    cursor: pointer;
  }
}
